@model IEnumerable<CmStore.Core.Models.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Lista de Produtos</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="far fa-file"></i> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.Imagem)</th>
            <th>@Html.DisplayNameFor(model => model.Preco)</th>
            <th>@Html.DisplayNameFor(model => model.QuantidadeEstoque)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Imagem)</td>
                <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                <td>@Html.DisplayFor(modelItem => item.QuantidadeEstoque)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-sm btn-warning" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search"></i></a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
